	ul{
		display: flex;
		list-style: none;
	}

	body{
		display: flex;
		margin:0;
		padding:0;
	}

	.container{
		display: flex;
		flex-direction: row;
		height: 100vh;
	}




	#Right-side{
		height:100vh;
		width:100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		overflow-y: scroll;
		flex: 1;

	}

	.SubRight-rightside{	
	width: 80%;	

	}

	/*.SubRight-rightside > p, .SubRight-rightside > em, .SubRight-rightside > h4{
	 
		font-size: .9375rem;
	    font-weight: 300;
	    font-family: sans-serif;

	}
	*/
	#SubRight-leftside{
		width: 50%;
		float: right;
	}


	.Left-side{
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		/*background-color: #2A54F5;*/
		font-family: "Montserrat",sans-serif;
		background-image: url("jules.jpg");
		background-size:cover;
		background-position: center top;  
		flex: 1;


	}

	.Left-side h1, .Left-side h2, .Left-side h3{
		margin-top:0;
		margin-bottom:0;
		color:white;
	}

	.section{
		display:inline-block;
		width:100%;
	}

	span{
		display: flex;
	}


	em{

	color: #3ee6bf;
	font-style: normal;
	}
	/*
	.content_tag{

		background-image:linear-gradient(90deg,#33E5BB 0%,#2A54F5 100%);
		color: #fff;
		font-style: italic;
	}
	*/
	/*body{

		font-family: "Montserrat",sans-serif;
		font-style: normal;
	}
	*/
	.experience_time {
	      color:#bebece;
	      position: relative;
	      padding-left: 0.925em;
	}

	.experience_time_text{
	   color: #bebece;

	}
	em.experience_time:before{
		position: absolute;
	    content: "";
	    width: 4px;
	    height: 4px;
	    background-color: #2A54F5;
	    left: 0.325rem;
	    top: 7px;
	    border-radius: 50%;
	}
	.content__inner{
		width: 75%;
		max-width: 33.75rem;
		float: left;
		font-size: .9375rem;
	    font-weight: 300;
	    font-family: sans-serif;

	}

	.content__outer{
	float: left;
	width: 7.625rem;

	}

	.content__outer > h5 {
		color: white;
	    background-color: #33E5BB;
	    -webkit-text-fill-color: transparent;
	    -webkit-background-clip: text;
	    background-image: linear-gradient(90deg,#33E5BB 0%,#2A54F5 100%);
	    background-image: -webkit-linear-gradient(-360deg, #33E5BB 0%,#2A54F5 100%);
	    font-size: .75rem;
	    font-style: italic;
	    
	}

	.icons{
		float: left;
		color: white;
	}

	.icons > i {
		padding-right: 1em;
	}

@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .container { display: flex; flex-flow:column; }
  }

@media only screen and (min-device-width: 375px) { 

    .container { 
		display: flex !important; 
		flex-flow:column !important; 
	}
}